<div class="register-container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label>Username</label>
    <input formControlName="username" type="text" />

    <label>Email</label>
    <input formControlName="email" type="email" />

    <label>Password</label>
    <input formControlName="password" type="password" />

    <button type="submit" [disabled]="registerForm.invalid">Register</button>
    <p>Already have an account?
      <a routerLink="/login">Login</a>
    </p>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  </form>
</div>
